# Dependencies
node_modules/

# Build Output
out/
dist/
*.vsix
*.tsbuildinfo
.staging_extension/

# VS Code
.vscode/
.vscode-test/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test coverage
coverage/
